.Rproj.user
.Rhistory
.RData
.Ruserdata

# except this file
!.gitignore

# ignore all files in this directory
01.cover/
01_data/
chromedriver-mac-arm64/


# ignore all files with these extensions
*.exe
*.html
*.png
*.pdf
*.zip
*.do
*.csv
*.xlsx
*.xls
*.dta
*.rds
*.DS_Store


# keep folder structure
# !/00.cover/.gitkeep
# !*.gitkeep